/* 
    Document   : global
    Created on : 11.07.2012
    Author     : Kramarenko Konstantin
    Description:
        Global styles for Otroha.com.ua
*/

.g-title {
	color: #fff;
	font-family: 'PT Serif';
	font-weight: normal;
	text-shadow: #555 0px 2px 1px;
	}
	.g-title span {
		display: block;
		font-size: 30px;
		padding: 10px 0 0 0;
		}